NODE_ENV=development
GATEWAY_PORT=3000
SERVICES_PORT=3001
CORE_BASE_URL=http://DOMAIN_LU_APA/api
CORE_APP_CODE=ghg
SERVICES_BASE_URL=http://localhost:3001
SWAGGER_ENABLED=false
GATEWAY_API_KEY=change-me-32chars-min
INTERNAL_JWT_PRIVATE_KEY=
INTERNAL_JWT_PUBLIC_KEY=
DATABASE_URL=postgresql://postgres:postgres@localhost:5433/bm_starterkit?schema=public
DATABASE_URL_SERVICE=sqlserver://127.0.0.1:1433;database=DATABASELUAPA;user=USERLUAPA;password=PASSWORDLUAPA;trustServerCertificate=true