# Dependencies
node_modules/
.pnpm-store/

# Build output
dist/
coverage/

# Environment & secrets
.env
.env.*
!.env.example

# Logs
*.log
logs/

# Prisma
prisma/**/migrations/dev.db*

# Husky generated
.husky/_/

# OS / IDE
.DS_Store
Thumbs.db
.idea/
.vscode/*
!.vscode/extensions.json

# Misc
*.tsbuildinfo
apps/api-services/prisma/migrations/
